/* You can add global styles to this file, and also import other style files */
.giocatore {
  padding: 1rem;
  border: 1px solid black;
  margin: 0.5rem;
}

.squadra {
  padding: 1rem;
  border: 1px solid red;
  margin: 0.5rem;
}

.partita {
  padding: 1rem;
  border: 1px solid green;
  margin: 0.5rem;
}
